/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://avatars.mds.yandex.net/get-pdb/2078924/1f20a781-879b-46a1-8cd3-43e1ff541a42/s1200');
    background-size: cover;
    min-width: 1500px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
