<div class="twoDiv">
    <div class="timeName">Часы</div>
    <div class="timeName">Минуты</div>
    <div class="timeName">Секунды</div>
    <div class="clockDiv">
        <div class="timeDiv" [style.height]="hourHeight" [style.top]="hourTop"></div>
    </div>
    <div class="clockDiv">
        <div class="timeDiv" [style.height]="minutHeight" [style.top]="minutTop"></div>
    </div>
    <div class="clockDiv">
        <div class="timeDiv" [style.height]="secondHeight" [style.top]="secondTop"></div>
    </div>
</div>
